.card{
  display: flex;
  flex-direction: column;
  background-color: #fff3;
  color: #fff;
  align-items: center;
  min-height: 264px;
  padding-bottom: 6px;
  text-decoration: none;
}

.card_image{
   width: 100%;
   height: 100%;
}

.card_genre_conteiner{
  display: flex;
  flex-wrap: wrap;
  width: 81%;
  justify-content: center;
}

.card_title{
  font-size: 92%;
  line-height: 22px;
}

.card_image_conteiner{
  width: 100%;
  min-height: 160px;
  max-height: 200px;
  margin-bottom: 8px;
}
