.conteiner{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  width: 100%;
}

button, input[type='checkbox'],input[type='radio'],select{
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}
