.conteiner{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  width: 100%;
  padding: 20px;
}

button, input[type='checkbox'],input[type='radio'],select{
  cursor: pointer;
}
