.filter_conteiner{
   background-color: #0009;
   width: 77%;
   padding: 11px;
   color: #fff;
   margin-left: 10%;
}
/*------------------------------------logo---------------------------------------------------------*/
.filter_conteiner_img{
  width: 100%;
}

.filter_conteiner_img img{
   width: 100%;
   height: 160px;
}

/*------------------------------------------form-------------------------------------------------*/
.filter_form{
   display: grid;
   grid-template-columns: 1fr .7fr; 
   grid-template-areas: "title clear"
                        "filter filter"
                        "filter filter";
   justify-items: flex-end;
   align-items: center;
}
                     
.filter_tilte{
   grid-area: title;
}

.filter_btn_clear{
   grid-area: clear;
   margin-right: 24px;
   width: 24px;
   outline: none;
   border: none;
   background-color: #000;
}

.filter_btn_icon_clear{
   width: 100%;
   height: 100%;
   color : #fff;
}

.filter_form > div {
   grid-area: filter;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   width: 100%;
   height: 100%;
}

.filter_form > div > div{
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
}



/*-------------------------------------lists------------------------------------------*/
.filter_conteiner  form  ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0px 11px;
  justify-content: flex-start;
}

.filter_conteiner form ul li {
   display: flex;
   font-size: 15px;
   align-items: center;
   width: 105px;
   margin-right: 11px;
}

.filter_conteiner form ul > li > label {
    margin: 5px;
    text-align: left;
    font-weight: bold;
    cursor: pointer;
}
