.home{
  display: grid;
  grid-template-columns: 32vw 68vw; 
  grid-template-rows: 11vh 6vh auto 10vh;
  grid-template-areas: "search search"
                        "order order"
                        "filter conteiner"
                        "space page";
  justify-items: center;
  margin-bottom: 37px;
}

.conteiner{
  grid-area: conteiner;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 89%;
  background-color: #000;
  border-radius: 48px;
  min-height: 49vh;
}

.search{
  grid-area: search;
  display: flex;
  justify-content: right;
  align-items: flex-end;
  width: 74%;
}

.pagination{
    grid-area: page;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 19%;
}

.order{
    grid-area: order;
    display: flex;
    width: 90%;
    height: 25px;
    justify-content: flex-end;
    margin-bottom: 5px;
    align-items: flex-end;
}

.filter{
  grid-area: filter;
  width: 88%;
}
