.home{
  display: grid;
  grid-template-columns: 32vw 68vw; 
  grid-template-rows: 11vh 10vh auto 10vh;
  grid-template-areas: "filter search"
                        "filter order"
                        "filter conteiner"
                        "space page";
  justify-items: center;
  background-color: #000;
  color: #fff;
  background-image: url("../../image/fondo_page.jpg");
  background-size: 100% 100%;
}

.conteiner{
  grid-area: conteiner;
  width: 89%;
  background-color: #000;
}

.conteiner > img{
  margin-top: 15%;
}

.search{
  grid-area: search;
  display: flex;
  justify-content: right;
  align-items: flex-end;
  width: 74%;
}

.pagination{
    grid-area: page;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 77%;
}

.order{
    grid-area: order;
    display: flex;
    flex-direction: row-reverse;
    width: 90%;
    height: 54px;
    justify-content: center;
    margin-bottom: 5px;
    align-items: center;
}

.order label{
  margin-right: 20%;
}

.filter{
  grid-area: filter;
  width: 100%;
}
