.search_conteiner{
  display: flex;
  width: 79%;
  height: 35px;
  margin-bottom: 15px;
}

.search_conteiner input {
   width: 70%;
   outline: none;
   border: none;
   border-bottom: 1px solid black;
}

.search_btn{
  outline: none;
  width: 23px;
  border: none;
  border-bottom: 1px solid black;
  background-color: white;
}

.search_btn_icon{
  width: 100%;
  height: 100%;
}

