.card{
  display: flex;
  flex-direction: column;
  background-color: #0008;
  align-items: center;
  padding: 4px;
}

.card_image{
   width: 100%;
   height: 100%;
}

.card_genre_conteiner{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: minmax(48px,auto);
  grid-gap: 4px;
  padding: 2px;
  width: 100%;
  height: 30%;
  justify-items: center;
}

.card_title{
  display: contents;
  height: 10%;
}

.card_image_conteiner{
  height: 60%;
  width: 100%;
}
