.header{
  /* 8 */
  height: 8vh;
  width: 100vw;
  margin: auto;
  padding: 14px 0px;
  background-color: black;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0px;
  color: white;
}

*{
  padding: 0px;
  margin: 0px;
}

.nav{  
  display: flex;
  width: 60%;
  height: auto;
  justify-content: space-between;
}

.menu{
  display: inline-flex;
  width: 42%;
}

/* .filter{
  display: flex;
}

ul{
  color: blue;
  list-style: none;
}

.filter > li {
  width: 44px;
  color: white;
}

.filter > li > ul{
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 2px 4px;
  align-items: center;
  background-color: #ccc;
  visibility: hidden;
}

.filter > li > form{
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 2px 4px;
  align-items: center;
  background-color: #ccc;
  visibility: hidden;
}

.filter > li:hover > form{
  visibility: visible;
}


.filter > li:hover > ul{
   visibility: visible;
} */



