.header{
  /* 8 */
  height: 8vh;
  width: 100vw;
  margin: auto;
  padding: 14px 0px;
  background-color: black;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0px;
  color: white;
}

*{
  padding: 0px;
  margin: 0px;
}

.nav{  
  display: flex;
  width: 60%;
  height: auto;
  justify-content: space-between;
}

.menu{
  display: inline-flex;
  width: 42%;
}




