.home{
  display: grid;
  grid-template-columns: 14vw 85vw;
  grid-template-rows: 11vh 6vh auto 5vh;
  grid-template-areas: "search search"
                        "filter order"
                        "filter conteiner"
                        "page page";
  justify-items: center;
}

.conteiner{
  grid-area: conteiner;
  width: 93%;
  background-color: rgba(0, 0, 0,.3);
  border-radius: 9px;
  min-height: 49vh;
}

.search{
  grid-area: search;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.pagination{
  grid-area: page;
}

.order{
  grid-area: order;
  display: flex;
  width: 77%;
  justify-content: flex-end;
}

.filter{
  grid-area: filter;
  width: 100%;
}
